.container {
    display: block;
    height: 100vh;
    width: 100%;  

    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    // height: 30rem;    
    width: 18rem;
    padding: .5rem;
    border-right: 8px solid $color-gray-dark;
    border-bottom: 8px solid $color-gray-dark;
    border-top: 8px solid $color-gray-light;
    border-left: 8px solid $color-gray-light;
}

.display {
    width: 85%;
    height: 20%;   
    margin-bottom: .5rem;    
    padding-left: 2px;
}

.button__group {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
}

.button {
    height: 3rem;
    width: 3.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;

    &:hover {
        opacity: .65;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.line__1 {

}