@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0); 
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); 
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0); 
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); 
    }
}



@keyframes zoomOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); 
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0); 
    }
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1); 
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0); 
    }
}