// COLORS:
$color-primary: #A4C8DC;
$color-primary-1: #6DACD2;
$color-primary-2: #397090;

$color-secondary: #A7EDCB;
$color-secondary-1: #86E7B8;
$color-secondary-2: #6EBE97;

$color-tertiary: #F4DA84;
$color-tertiary-1: #F5C75B;
$color-tertiary-2: #C89F3E;

$color-gray-light: #CFCFCF;
$color-gray-light-1: #D8DBE2;
$color-gray-light-2: #EDEDEE;

$color-gray-dark: #505050;
$color-gray-dark-1: #323232;

$color-white: #ffffff;
$color-dark: #1A1A1B;

// FONT SIZE
$font-size-s: 1.2rem;
$font-size-m: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 2.6rem;
$font-size-xxl: 3.6rem;
$font-size-xxxl: 4.6rem;
$font-size-xxxxl: 5.6rem;

// FONT-FAMILY
$font-family-primary: Sailec-Regular,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;